<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <variable name="logLayout" value="${longdate}|${uppercase:${level}}|${logger}|traceId=${aspnet-traceidentifier}|${message}|${exception:format=tostring}" />
  <variable name="consoleLayout" value="${time}|${uppercase:${level}}|${logger}|${message}${exception:format=tostring}" />
  <variable name="maxLogFileSize" value="10485760" />

  <targets>
    <target xsi:type="Console"
            name="console"
            layout="${consoleLayout}" />
    <target xsi:type="File"
            name="appFile"
            fileName="${basedir}/logs/app/app.log"
            archiveFileName="${basedir}/logs/app/app-{#}.log"
            archiveAboveSize="${maxLogFileSize}"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            maxArchiveDays="7"
            layout="${logLayout}" />
    <target xsi:type="File"
            name="errorFile"
            fileName="${basedir}/logs/error/error.log"
            archiveFileName="${basedir}/logs/error/error-{#}.log"
            archiveAboveSize="${maxLogFileSize}"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            maxArchiveDays="7"
            layout="${logLayout}" />
    <target xsi:type="File"
            name="transactionFile"
            fileName="${basedir}/logs/transaction/transaction.log"
            archiveFileName="${basedir}/logs/transaction/transaction-{#}.log"
            archiveAboveSize="${maxLogFileSize}"
            archiveEvery="Hour"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMddHH"
            maxArchiveDays="7"
            layout="${logLayout}" />
  </targets>

  <rules>
    <logger name="TransactionLogger" minlevel="Info" writeTo="transactionFile" final="true" />
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console" final="true" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
    <logger name="*" minlevel="Info" writeTo="appFile,console" />
  </rules>
</nlog>
